/*Now the CSS*/

.tree ul {
	padding-top: 20px;
	padding-left:0;
	position: relative;
	display:flex;
	/*justify-content:center;*/
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

.tree li {
	width:100%;
	text-align: center;
	list-style-type: none;
	position: relative;
	padding: 20px 5px 0 5px;	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

/*We will use ::before and ::after to draw the connectors*/

.tree li::before, .tree li::after{
	content: '';
	position: absolute; top: 0; right: 50%;
	border-top: 1px solid #23bf08;
	width: 50%; height: 20px;
}
.tree li::after{
	right: auto; left: 50%;
	border-left: 1px solid #23bf08;
}

/*We need to remove left-right connectors from elements without 
any siblings*/
.tree li:only-child::after, .tree li:only-child::before {
	display: none;
}

/*Remove space from the top of single children*/
.tree li:only-child{ padding-top: 0;}

/*Remove left connector from first child and 
right connector from last child*/
.tree li:first-child::before, .tree li:last-child::after{
	border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.tree li:last-child::before{
	border-right: 1px solid #23bf08;
	border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
}
.tree li:first-child::after{
	border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/
.tree ul ul::before{
	content: '';
	position: absolute; top: 0; left: 50%;
	border-left: 1px solid #23bf08;
	width: 0; height: 20px;
}

.tree li a{
/*	border: 1px solid #2458a9;*/
	text-decoration: none;
	color: #000;
	font-size: 12px;
	text-transform:uppercase;	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
/*
.tree li a:hover, .tree li a:hover+ul li a {
	background: #373737; color: #fff;
}
*/
/*Connector styles on hover*/
.tree li a:hover+ul li::after, 
.tree li a:hover+ul li::before, 
.tree li a:hover+ul::before, 
.tree li a:hover+ul ul::before{
	border-color:  #94a0b4;
}

/*Thats all. I hope you enjoyed it.
Thanks :)*/


.tooltip1 {
    position: relative;
    display: inline-block;
}
.tooltip1 img{
    width: 50px;
    margin: auto;
    display: block;
}
.tooltip1 p{
	margin:5px 0 0;
	color:#e0e0e0;
}
.tooltip1 .badge{
    padding: 5px;
}
.tooltip1 .shrname{
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 65px;
    white-space: nowrap;
}
.tooltip1 .tooltiptext {
    visibility: hidden;
    width: 200px;
    margin-left: -100px;
	left:50%;
    bottom: -52px;
    font-size: 12px;
	padding-top:10px;
	padding-bottom:10px;
    background: rgb(78 61 156);
    color: #fff;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

.tooltip1 .tooltiptext h5 {
    color: #ffffff;
    text-align: center;
    padding: 7px 15px 2px;
    margin: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 15px;
    font-weight: 600;
}


.text-pt {
    width: 100%;
    padding: 6px;
    text-transform: initial;
}

.text-pt .table {
    margin: 0;
	background:#fff;
}

.text-pt .table > tbody > tr > td {
    padding: 5px;
    text-align: left;
	font-size:13px;
	word-break: break-all;
	color:#101010;
}

.tooltip1:hover .tooltiptext {
    visibility: visible;
}

hr {
    border-color: #c8c8c8;
}

.item-tree ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.item-tree ul li {
    display: inline-block;
    text-align: center;
    margin: 0 15px;
}


@media(max-width:800px){
	.tree{
		margin-top: 120px;
		margin-left:50px;
		margin-right:50px;
	}
}